@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  min-height: 100vh; /* Full viewport height */
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBorder{
  border: solid 1px;
  border-radius: 4px;
  text-align: center;
}

h1 {
  font-size: 2.2rem; /* Equivalent to text-4xl */
  font-weight: bold;
  text-align: center;
  margin: 1rem 0; /* Adds vertical margin */
}

main {
  width: 100vw;
  height: 100vw;
}
